body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(/images/home_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.wrapper {
    width: 960px;
    height: 500px;
    background: transparent;
    margin: 60px auto;
}

.nav {
    width: 800px;
    height: 60px;
    float: right;
    background: rgba(142, 59, 6, 0.7); 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
}

.nav ul {
    width: 100%;
    height: 100%;
    margin-left: 12px;
}

.nav ul li {
    height: 100%;
    float: left;
}

.nav ul li a {
    height: 60px;
    text-decoration: none;
    color: #fff;
    float: left;
    padding: 22px 18px;
    font-size: 20px;
}

.nav ul li:hover {
    background: #903800;
}

.active {
    background: #903800;
}

#home, #tea, #accessories, #craft, #ceremony, #about {
    width: 960px;
    height: 450px;
    margin: 80px 0 0 0;
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
}

.image {
    width: 600px;
    height: 320px;
    float: left;
    margin: 15px 0 0 15px;
    overflow: hidden;
    /*background-image: url(/images/home.jpg);*/
    background-position: -173px -270px;
    background-repeat: no-repeat;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
}

.right_text {
    width: 300px;
    height: 320px;
    float: left;
    margin: 15px 0 0 20px;
    display: inline-block;
}

.bottom_text {
    width: 925px;
    height: 100px;
    float:left;
    margin: 20px 0 0 15px;
    display: block;
}
