<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <SocketStream/>
    <title>Carmen's Tea</title>
  </head>
  <body>
    <div class="wrapper">
        <a class="logo" href="/"></a>
    	<div class="nav">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#tea">Tea</a></li>
                <li><a href="#accessories">Accessories</a></li>
                <li><a href="#craft">Porcelain Art and Craft</a></li>
                <li><a href="#ceremony">Tea Ceremony</a></li>
                <li><a href="#about">About Us</a></li>
            </ul>
      	</div>
        <section id="home">
            <span class="image"></span>
            <p class="right_text">Home</p>
            <div class="bottom_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit eros at metus dapibus ac egestas risus adipiscing. Maecenas faucibus urna interdum orci mattis tempor. Proin pellentesque euismod urna, in consequat justo sagittis at. Mauris vitae arcu orci. Donec at tincidunt dui. Aenean at tellus ut sem lobortis cursus. Maecenas laoreet interdum lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec velit risus, bibendum in interdum eget, aliquam sit amet tortor. Ut id hendrerit ligula.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit eros at metus dapibus ac egestas risus adipiscing. Maecenas faucibus urna interdum orci mattis tempor. Proin pellentesque euismod urna, in consequat justo sagittis at. Mauris vitae arcu orci. Donec at tincidunt dui. Aenean at tellus ut sem lobortis cursus. Maecenas laoreet interdum lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec velit risus, bibendum in interdum eget, aliquam sit amet tortor. Ut id hendrerit ligula.</p>
            </div>
        </section>
        <section id="tea">
            <span class="image"></span>
            <p class="right_text">Tea</p>
            <div class="bottom_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit eros at metus dapibus ac egestas risus adipiscing. Maecenas faucibus urna interdum orci mattis tempor. Proin pellentesque euismod urna, in consequat justo sagittis at. Mauris vitae arcu orci. Donec at tincidunt dui. Aenean at tellus ut sem lobortis cursus. Maecenas laoreet interdum lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec velit risus, bibendum in interdum eget, aliquam sit amet tortor. Ut id hendrerit ligula.</p>
            </div>
        </section>
        <section id="accessories">
            <span class="image"></span>
            <p class="right_text">Accessories</p>
            <div class="bottom_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit eros at metus dapibus ac egestas risus adipiscing. Maecenas faucibus urna interdum orci mattis tempor. Proin pellentesque euismod urna, in consequat justo sagittis at. Mauris vitae arcu orci. Donec at tincidunt dui. Aenean at tellus ut sem lobortis cursus. Maecenas laoreet interdum lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec velit risus, bibendum in interdum eget, aliquam sit amet tortor. Ut id hendrerit ligula.</p>
            </div>
        </section>
        <section id="craft">
            <span class="image"></span>
            <p class="right_text">Porcelain Art and Craft</p>
            <div class="bottom_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit eros at metus dapibus ac egestas risus adipiscing. Maecenas faucibus urna interdum orci mattis tempor. Proin pellentesque euismod urna, in consequat justo sagittis at. Mauris vitae arcu orci. Donec at tincidunt dui. Aenean at tellus ut sem lobortis cursus. Maecenas laoreet interdum lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec velit risus, bibendum in interdum eget, aliquam sit amet tortor. Ut id hendrerit ligula.</p>
            </div>
        </section>
        <section id="ceremony">
            <span class="image"></span>
            <p class="right_text">Tea Ceremony</span>
            <div class="bottom_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit eros at metus dapibus ac egestas risus adipiscing. Maecenas faucibus urna interdum orci mattis tempor. Proin pellentesque euismod urna, in consequat justo sagittis at. Mauris vitae arcu orci. Donec at tincidunt dui. Aenean at tellus ut sem lobortis cursus. Maecenas laoreet interdum lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec velit risus, bibendum in interdum eget, aliquam sit amet tortor. Ut id hendrerit ligula.</p>
            </div>
        </section>
        <section id="about">
            <span class="image"></span>
            <p class="right_text">About Us</p>
            <div class="bottom_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit eros at metus dapibus ac egestas risus adipiscing. Maecenas faucibus urna interdum orci mattis tempor. Proin pellentesque euismod urna, in consequat justo sagittis at. Mauris vitae arcu orci. Donec at tincidunt dui. Aenean at tellus ut sem lobortis cursus. Maecenas laoreet interdum lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec velit risus, bibendum in interdum eget, aliquam sit amet tortor. Ut id hendrerit ligula.</p>
            </div>
        </section>
    </div>
  </body>
</html>
