<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <SocketStream/>
    <title>Carmen's Tea</title>
  </head>
  <body>
    <div class="container-fluid wrapper">
    	<div class="nav">
            <div class="shadow">
            <a class="logo" href="#home"></a>
            <ul class="page">
                <li><a href="#tea">Teas</a></li>
                <li><a href="#accessories">Accessories</a></li>
                <li><a href="#craft">Porcelain Art and Craft</a></li>
                <li><a href="#ceremony">Tea Ceremony</a></li>
                <li><a href="#about">About Us</a></li>
            </ul>
            </div>
      	</div>
        <div class="row-fluid">
        <section id="home">
            <img src="/images/home.jpg" class="img-circle">
            <p class="right_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus porta fermentum tortor, nec facilisis sapien vehicula vitae. Nam purus augue, egestas eget suscipit ut, mollis eu tellus. Integer non lectus eget libero tincidunt interdum ut consequat purus. Cras nec lobortis diam. Maecenas consequat tellus at orci faucibus at sagittis urna sodales. Nunc congue enim eu lacus dapibus eget semper diam dapibus. Vivamus iaculis iaculis mi, ac varius dui convallis at. Proin convallis scelerisque massa sit amet ultrices. Suspendisse quam dolor, faucibus eu accumsan ut, euismod eget lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
            </p>
            <div class="bottom_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit eros at metus dapibus ac egestas risus adipiscing. Maecenas faucibus urna interdum orci mattis tempor. Proin pellentesque euismod urna, in consequat justo sagittis at. Mauris vitae arcu orci. Donec at tincidunt dui. Aenean at tellus ut sem lobortis cursus. Maecenas laoreet interdum lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec velit risus, bibendum in interdum eget, aliquam sit amet tortor. Ut id hendrerit ligula.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit eros at metus dapibus ac egestas risus adipiscing. Maecenas faucibus urna interdum orci mattis tempor. Proin pellentesque euismod urna, in consequat justo sagittis at. Mauris vitae arcu orci. Donec at tincidunt dui. Aenean at tellus ut sem lobortis cursus. Maecenas laoreet interdum lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec velit risus, bibendum in interdum eget, aliquam sit amet tortor. Ut id hendrerit ligula.</p>
            </div>
        </section>
        <section id="tea">
            <img src="/images/teas.jpg" class="img-polaroid">
            <p class="right_text">Tea</p>
            <div class="bottom_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit eros at metus dapibus ac egestas risus adipiscing. Maecenas faucibus urna interdum orci mattis tempor. Proin pellentesque euismod urna, in consequat justo sagittis at. Mauris vitae arcu orci. Donec at tincidunt dui. Aenean at tellus ut sem lobortis cursus. Maecenas laoreet interdum lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec velit risus, bibendum in interdum eget, aliquam sit amet tortor. Ut id hendrerit ligula.</p>
            </div>
        </section>
        <section id="accessories">
            <img src="/images/home.jpg" class="img-circle">
            <p class="right_text">Accessories</p>
            <div class="bottom_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit eros at metus dapibus ac egestas risus adipiscing. Maecenas faucibus urna interdum orci mattis tempor. Proin pellentesque euismod urna, in consequat justo sagittis at. Mauris vitae arcu orci. Donec at tincidunt dui. Aenean at tellus ut sem lobortis cursus. Maecenas laoreet interdum lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec velit risus, bibendum in interdum eget, aliquam sit amet tortor. Ut id hendrerit ligula.</p>
            </div>
        </section>
        <section id="craft">
            <img src="/images/home.jpg" class="img-polaroid">
            <p class="right_text">Porcelain Art and Craft</p>
            <div class="bottom_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit eros at metus dapibus ac egestas risus adipiscing. Maecenas faucibus urna interdum orci mattis tempor. Proin pellentesque euismod urna, in consequat justo sagittis at. Mauris vitae arcu orci. Donec at tincidunt dui. Aenean at tellus ut sem lobortis cursus. Maecenas laoreet interdum lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec velit risus, bibendum in interdum eget, aliquam sit amet tortor. Ut id hendrerit ligula.</p>
            </div>
        </section>
        <section id="ceremony">
            <img src="/images/home.jpg" class="img-circle">
            <p class="right_text">Tea Ceremony</span>
            <div class="bottom_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit eros at metus dapibus ac egestas risus adipiscing. Maecenas faucibus urna interdum orci mattis tempor. Proin pellentesque euismod urna, in consequat justo sagittis at. Mauris vitae arcu orci. Donec at tincidunt dui. Aenean at tellus ut sem lobortis cursus. Maecenas laoreet interdum lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec velit risus, bibendum in interdum eget, aliquam sit amet tortor. Ut id hendrerit ligula.</p>
            </div>
        </section>
        <section id="about">
            <img src="/images/home.jpg" class="img-polaroid">
            <p class="right_text">About Us</p>
            <div class="bottom_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit eros at metus dapibus ac egestas risus adipiscing. Maecenas faucibus urna interdum orci mattis tempor. Proin pellentesque euismod urna, in consequat justo sagittis at. Mauris vitae arcu orci. Donec at tincidunt dui. Aenean at tellus ut sem lobortis cursus. Maecenas laoreet interdum lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec velit risus, bibendum in interdum eget, aliquam sit amet tortor. Ut id hendrerit ligula.</p>
            </div>
        </section>
      	</div>
    </div>
  </body>
</html>
